pipeline/PL_CZToConsZ_Finance_Board.json
{
	"name": "PL_CZToConsZ_Finance_Board",
	"properties": {
		"activities": [
			{
				"name": "spc_LoadFinanceDetails",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadFinanceDetails]"
				}
			},
			{
				"name": "spc_LoadFinanceDetailsCategory",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadFinanceDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadFinanceDetailsCategory]"
				}
			},
			{
				"name": "spc_LoadRevenueByProduct",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadCapexDetailsCategory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadRevenueByProduct]"
				}
			},
			{
				"name": "spc_LoadForecastAccuracy",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadRevenueByProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadForecastAccuracy]"
				}
			},
			{
				"name": "spc_LoadDaily",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadForecastAccuracy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadDaily]"
				}
			},
			{
				"name": "spc_LoadCapexDetailsCategory",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadFinanceDetailsCategory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadCapexDetailsCategory]"
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set DataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Script-GetDataRefreshDate",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "syn-ws-dlk-dev-01-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "synwsdb01"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT MAX([DataRefreshDate]) AS [DataRefreshDate] FROM [consumption].[ExecutionLog] WHERE [PipelineName] LIKE '%PL_RZToCZ_Board_Finance%'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set DataRefreshDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script-GetDataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataRefreshDate",
					"value": {
						"value": "@activity('Script-GetDataRefreshDate').output.resultSets[0].rows[0].DataRefreshDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadDaily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_FinanceDetails",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadFinanceDetails",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadFinanceDetails').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadFinanceDetails').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_FinanceDetailsCategory",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadFinanceDetailsCategory",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadFinanceDetailsCategory').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadFinanceDetailsCategory').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_CapexDetailsCategory",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadCapexDetailsCategory",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadCapexDetailsCategory').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadCapexDetailsCategory').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_RevenueByProduct",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadRevenueByProduct",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadRevenueByProduct').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadRevenueByProduct').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_ForecastAccuracy",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadForecastAccuracy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadForecastAccuracy').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadForecastAccuracy').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_Daily",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadDaily",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ConformedToConsumption",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadDaily').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadDaily').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			}
		],
		"variables": {
			"DataRefreshDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Finance/ConformedToConsumption"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-28T11:03:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}