pipeline/PL_LZToRaw_MXM_Production_EBICDaily_ph2.json
{
	"name": "PL_LZToRaw_MXM_Production_EBICDaily_ph2",
	"properties": {
		"activities": [
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_LZToRaw_MXM_Production_EBICDaily",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('DF_LZToRaw_MXM_Production_EBICDaily').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('DF_LZToRaw_MXM_Production_EBICDaily').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_LZToRaw_MXM_Production_EBICDaily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "DF_LZToRaw_MXM_Production_EBICDaily",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_LZToRaw_MXM_Production_EBICDaily",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Consider XLS File",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileNames').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get FileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Start Validation Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_LandingZone_Production_Mxm_EBIC_Ph2",
						"type": "DatasetReference",
						"parameters": {
							"DS_SourceFolder": {
								"value": "@pipeline().parameters.SourceFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Start Validation Process",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
					"storedProcedureParameters": {
						"DataCategory": {
							"value": "Production",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Error_Message": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Master_Identifier": {
							"value": "ABC001",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Src_Rec_Count": {
							"value": null,
							"type": "Int32"
						},
						"StartTime": {
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ValidationCheckStatus": {
							"value": "Started",
							"type": "String"
						},
						"ValidationType": {
							"value": "Fileexist",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "SQL pool stored procedure FIle missing",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get FileNames",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
					"storedProcedureParameters": {
						"DataCategory": {
							"value": "Production",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Error_Message": {
							"value": {
								"value": "@concat('EBIC File Not Arrived For ', formatDateTime(utcNow(),'yyyy-MM-DD'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Master_Identifier": {
							"value": "RWPRD007",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Src_Rec_Count": {
							"value": null,
							"type": "Int32"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"ValidationCheckStatus": {
							"value": "Failed",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Consider XLS File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Consider XLS File').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Child File Details",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_LandingZone_Production_Mxm_EBIC_File_Ph2",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"DS_SourceFolder": {
											"value": "@pipeline().parameters.SourceFolderName",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"columnCount",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "If Condition-Column Check",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Child File Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Child File Details').output.columnCount,231)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SQL pool stored procedure1_copy1",
										"type": "SqlPoolStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"sqlPool": {
											"referenceName": "synwsdb01",
											"type": "SqlPoolReference"
										},
										"typeProperties": {
											"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
											"storedProcedureParameters": {
												"DataCategory": {
													"value": "Production",
													"type": "String"
												},
												"EndTime": {
													"value": {
														"value": "@convertToUtc(utcNow(),'UTC')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Error_Message": {
													"value": "EBIC File Column Count Mismatch",
													"type": "String"
												},
												"ExecutionID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Master_Identifier": {
													"value": "RWPRD007",
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"Src_Rec_Count": {
													"value": "0",
													"type": "Int32"
												},
												"StartTime": {
													"value": null,
													"type": "DateTime"
												},
												"ValidationCheckStatus": {
													"value": "Failed",
													"type": "String"
												}
											}
										}
									},
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "SQL pool stored procedure1_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Validation Failed - Column Count Mismatch",
											"errorCode": "V002"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SQL pool stored procedure1_copy1_copy1",
										"type": "SqlPoolStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"sqlPool": {
											"referenceName": "synwsdb01",
											"type": "SqlPoolReference"
										},
										"typeProperties": {
											"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
											"storedProcedureParameters": {
												"DataCategory": {
													"value": "Production",
													"type": "String"
												},
												"EndTime": {
													"value": {
														"value": "@convertToUtc(utcNow(),'UTC')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Error_Message": {
													"value": null,
													"type": "String"
												},
												"ExecutionID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Master_Identifier": {
													"value": "RWPRD007",
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"Src_Rec_Count": {
													"value": null,
													"type": "Int32"
												},
												"StartTime": {
													"type": "DateTime"
												},
												"ValidationCheckStatus": {
													"value": "Inprogess-ColumnCount",
													"type": "String"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "If Condition- Size Check",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Child File Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@lessOrEquals(activity('Child File Details').output.size,231)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SQL pool stored procedure1_copy1_copy2",
										"type": "SqlPoolStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"sqlPool": {
											"referenceName": "synwsdb01",
											"type": "SqlPoolReference"
										},
										"typeProperties": {
											"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
											"storedProcedureParameters": {
												"DataCategory": {
													"value": "Production",
													"type": "String"
												},
												"EndTime": {
													"value": {
														"value": "@convertToUtc(utcNow(),'UTC')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Error_Message": {
													"value": "EBIC File Column Count Mismatch",
													"type": "String"
												},
												"ExecutionID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Master_Identifier": {
													"value": "RWPRD007",
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"Src_Rec_Count": {
													"value": "0",
													"type": "Int32"
												},
												"StartTime": {
													"value": null,
													"type": "DateTime"
												},
												"ValidationCheckStatus": {
													"value": "Failed",
													"type": "String"
												}
											}
										}
									},
									{
										"name": "Fail2",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "SQL pool stored procedure1_copy1_copy2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Validation Failed- File with No records",
											"errorCode": "V003"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SQL pool stored procedure1_copy1_copy1_copy1",
										"type": "SqlPoolStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"sqlPool": {
											"referenceName": "synwsdb01",
											"type": "SqlPoolReference"
										},
										"typeProperties": {
											"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
											"storedProcedureParameters": {
												"DataCategory": {
													"value": "Production",
													"type": "String"
												},
												"EndTime": {
													"value": {
														"value": "@convertToUtc(utcNow(),'UTC')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"Error_Message": {
													"value": null,
													"type": "String"
												},
												"ExecutionID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Master_Identifier": {
													"value": "RWPRD007",
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"Src_Rec_Count": {
													"value": null,
													"type": "Int32"
												},
												"StartTime": {
													"type": "DateTime"
												},
												"ValidationCheckStatus": {
													"value": "Inprogess-ColumnCount",
													"type": "String"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Start Validation Process_copy1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[FERTIL_AUDIT_FRAMEWORK].[spc_FileValidationLog]",
					"storedProcedureParameters": {
						"DataCategory": {
							"value": "Production",
							"type": "String"
						},
						"EndTime": {
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Error_Message": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Master_Identifier": {
							"value": "ABC001",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Src_Rec_Count": {
							"value": null,
							"type": "Int32"
						},
						"StartTime": {
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ValidationCheckStatus": {
							"value": "Started",
							"type": "String"
						},
						"ValidationType": {
							"value": "Fileexist",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Get FileNames_copy1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_LandingZone_Production_Mxm_EBIC_File_Ph2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"DS_SourceFolder": {
								"value": "@pipeline().parameters.SourceFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Validation Process_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_LandingZone_Production_Mxm_EBIC_File_Ph2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"DS_SourceFolder": {
								"value": "@pipeline().parameters.SourceFolderName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Lookup1').output.count,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail3",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No Records Found",
								"errorCode": "V001"
							}
						}
					]
				}
			},
			{
				"name": "If Condition1_copy1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get FileNames_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get FileNames_copy1').output.columnCount,230)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail3_copy1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Column Size Failure",
								"errorCode": "V001"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFileName": {
				"type": "string"
			},
			"SourceFolderName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Production/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-19T06:53:26Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}