pipeline/PL_Manual_Production_ProductionReportData.json
{
	"name": "PL_Manual_Production_ProductionReportData",
	"properties": {
		"activities": [
			{
				"name": "CD_LZToRZ_Production_ProductionReportData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OpCo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OpCo",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Plant",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Plant",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Downtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Downtime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Production MTPD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Production MTPD",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Production MTD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Production MTD",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Capacity Efficiency",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Capacity Efficiency",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Onstream Efficiency",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Onstream Efficiency",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Energy Efficiency",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Energy Efficiency",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Budgeted Production",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Budgeted Production",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Budgeted Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Budgeted Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Forecasted Production",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Forecasted Production",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Forecasted Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Forecasted Asset Utilisation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Production Capacity (MPC)",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Production Capacity (MPC)",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MTD Downtime",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MTD Downtime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LandingZone_Prod_Manual_Database_File",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSRawZone",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "ProductionReportData",
							"FileName": "ProductionReportData",
							"MainFolderName": "Production"
						}
					}
				]
			},
			{
				"name": "DF_RZToCZ_Production_ProductionReportData",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CD_LZToRZ_Production_ProductionReportData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_RZToCZ_Production_ProductionReportData",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "LS_ADLSRawZone",
							"type": "LinkedServiceReference"
						},
						"folderPath": "ferti-dl-raw-dev/SynapseInternal"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "spc_LoadProductionReportData",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_RZToCZ_Production_ProductionReportData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_LoadProductionReportData]"
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ManualExtractsLoad",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_SrcToRZ",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_LZToRZ_Production_ProductionReportData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ManualExtractsLoad",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('CD_LZToRZ_Production_ProductionReportData').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CD_LZToRZ_Production_ProductionReportData').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_RZToCZ",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_RZToCZ_Production_ProductionReportData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ManualExtractsLoad",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('DF_RZToCZ_Production_ProductionReportData').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('DF_RZToCZ_Production_ProductionReportData').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadProductionReportData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ManualExtractsLoad",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('spc_LoadProductionReportData').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('spc_LoadProductionReportData').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "spc_LoadProductionReportData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "ManualExtractsLoad",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Production/ManualExtract"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T06:05:50Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}