pipeline/PL_RZToCZ_Board_Finance_Daily.json
{
	"name": "PL_RZToCZ_Board_Finance_Daily",
	"properties": {
		"activities": [
			{
				"name": "DF_RZToCZ_Board_Finance_Daily",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_RZToCZ_Board_Finance_Daily",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "LS_ADLSRawZone",
							"type": "LinkedServiceReference"
						},
						"folderPath": "ferti-dl-raw-dev/SynapseInternal"
					},
					"integrationRuntime": {
						"referenceName": "IntegrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "RawToConformed",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error_copy1_copy1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_RZToCZ_Board_Finance_Daily",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "RawToConformed",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('DF_RZToCZ_Board_Finance_Daily').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('DF_RZToCZ_Board_Finance_Daily').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_RZToCZ_Board_Finance_Daily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "RawToConformed",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Finance/RawToConformed"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T11:10:40Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}