pipeline/PL_SrcToRaw_Board_Finance_FctProductionDetails.json
{
	"name": "PL_SrcToRaw_Board_Finance_FctProductionDetails",
	"properties": {
		"activities": [
			{
				"name": "CD_SrcToRaw_Board_Finance_FctProductionDetails",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Month], [Entity], [Metric], [Plant], [PLAN - Production Volumes], [Scenario], [Plan Year], [Version] FROM [BoardFERT].[Board_FACT_FCT_PRODUCTION_DETAILS]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Entity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Entity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Metric",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Metric",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Plant",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Plant",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PLAN - Production Volumes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PLAN - Production Volumes",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Scenario",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Scenario",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Plan Year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Plan Year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Version",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Version",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BoardFERT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSRawZone",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "Fct_Production_Detail",
							"FileName": "FCT_PRODUCTION_DETAIL",
							"MainFolderName": "Finance"
						}
					}
				]
			},
			{
				"name": "Script-GetDataRefreshDate",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_BoardFERT",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT MAX(Created) AS [DataRefreshDate] FROM [BoardFERT].[Board_FACT_FCT_PRODUCTION_DETAILS]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set DataRefreshDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script-GetDataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataRefreshDate",
					"value": {
						"value": "@activity('Script-GetDataRefreshDate').output.resultSets[0].rows[0].DataRefreshDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Board_Finance_FctProductionDetails",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Board_Finance_FctProductionDetails').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Board_Finance_FctProductionDetails').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start_copy1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set DataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Board_Finance_FctProductionDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			}
		],
		"variables": {
			"DataRefreshDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Finance/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T06:05:30Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}