pipeline/PL_SrcToRaw_Board_Finance_FctAverageFxRates.json
{
	"name": "PL_SrcToRaw_Board_Finance_FctAverageFxRates",
	"properties": {
		"activities": [
			{
				"name": "FCT_AVERAGE_FX_RATES",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Month], [Scenario], [Functional Currency], [Transactional Currency], [Plan Year], [Version], [ADM - FX Loans AVG] \nFROM [BoardFERT].[Board_FACT_FCT_AVERAGE_FX_RATES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Scenario",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Scenario",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Functional Currency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Functional_Currency",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Transactional Currency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Transactional_Currency",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Plan Year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Plan_Year",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Version",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ADM - FX Loans AVG",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADM_FX_Loans_AVG",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": false,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BoardFERT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSRawZone",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "FCT_AVERAGE_FX_RATES",
							"FileName": "Fct_Average_Fx_Rates",
							"MainFolderName": "Finance"
						}
					}
				]
			},
			{
				"name": "Script-GetDataRefreshDate",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_BoardFERT",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT MAX(Created) AS [DataRefreshDate] FROM [BoardFERT].[Board_FACT_FCT_AVERAGE_FX_RATES]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set DataRefreshDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script-GetDataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataRefreshDate",
					"value": {
						"value": "@activity('Script-GetDataRefreshDate').output.resultSets[0].rows[0].DataRefreshDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "FCT_AVERAGE_FX_RATES",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('FCT_AVERAGE_FX_RATES').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('FCT_AVERAGE_FX_RATES').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start_copy1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set DataRefreshDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "FCT_AVERAGE_FX_RATES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": {
								"value": "@variables('DataRefreshDate')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			}
		],
		"variables": {
			"DataRefreshDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Finance/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T06:05:40Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}