pipeline/PL_SrcToRaw_Mesh_Production_SitesDataEmployee.json
{
	"name": "PL_SrcToRaw_Mesh_Production_SitesDataEmployee",
	"properties": {
		"activities": [
			{
				"name": "CD_SrcToRaw_Mesh_Production_SitesDataEmployee",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Company]\n      ,[Month]\n      ,[Hours]\n      ,[Fatility]\n      ,[LTI]\n      ,[RWC]\n      ,[MTC]\n      ,[LTIR]\n      ,[TRIR]\n      ,[LTIR12]\n      ,[TRIR12]\n      ,[PSI]\n      ,[PSIR]\n      ,[PSIR12]\n      ,[EI]\n      ,[EIR]\n      ,[EIR12]\n      ,[PSI Target]\n      ,[EI Target]\n      ,[LTIR Target]\n      ,[TRIR Target]\n      ,[TRI]\n  FROM [MESHFERT].[SitesData_Employee]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Company",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Company",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Hours",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "Hours",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fatility",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "Fatility",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LTI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "LTI",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RWC",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "RWC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MTC",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "MTC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LTIR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "LTIR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRIR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "TRIR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LTIR12",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "LTIR12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRIR12",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "TRIR12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PSI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "PSI",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PSIR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "PSIR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PSIR12",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "PSIR12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "EI",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EIR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "EIR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EIR12",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "EIR12",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PSI Target",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "PSI Target",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EI Target",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "EI Target",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LTIR Target",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "LTIR Target",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRIR Target",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "TRIR Target",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRI",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 25
								},
								"sink": {
									"name": "TRI",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BoardFERT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSRawZone",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "Sites_Data_Employee",
							"FileName": "Sites_Data_Employee",
							"MainFolderName": "Production"
						}
					}
				]
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Mesh_Production_SitesDataEmployee",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Mesh_Production_SitesDataEmployee').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Mesh_Production_SitesDataEmployee').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Mesh_Production_SitesDataEmployee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Production/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T06:06:16Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}