pipeline/PL_SrcToRaw_IT2_Finance_NetDebtConsolidated.json
{
	"name": "PL_SrcToRaw_IT2_Finance_NetDebtConsolidated",
	"properties": {
		"activities": [
			{
				"name": "DF_SrcToRaw_IT2_Finance_NetDebtConsolidated",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SrcToRaw_IT2_Finance_NetDebtConsolidated",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_SrcToRaw_IT2_Finance_NetDebtConsolidated",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('DF_SrcToRaw_IT2_Finance_NetDebtConsolidated').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('DF_SrcToRaw_IT2_Finance_NetDebtConsolidated').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Start_copy1",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_SrcToRaw_IT2_Finance_NetDebtConsolidated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Finance",
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Finance/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-28T10:46:29Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}