pipeline/PL_SrcToRaw_Mesh_Production_GroupSummary.json
{
	"name": "PL_SrcToRaw_Mesh_Production_GroupSummary",
	"properties": {
		"activities": [
			{
				"name": "CD_SrcToRaw_Mesh_Production_GroupSummary",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spc_ExecutionLogEntry_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Description], [Unit], [EBIC Ammonia], [EFC Ammonia 1], [EFC Ammonia 2], [EFC Urea 1], [EFC Urea 2], [Fertil Ammonia 1], [Fertil Ammonia 2], [Fertil Urea 1], [Fertil Urea 2], [Sorfert Ammonia 1], [Sorfert Ammonia 2], [Sorfert Urea], [Total], [Year]\n  FROM [MESHFERT].[Group_Summary]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EBIC Ammonia",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EBIC Ammonia",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EFC Ammonia 1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EFC Ammonia 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EFC Ammonia 2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EFC Ammonia 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EFC Urea 1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EFC Urea 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EFC Urea 2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EFC Urea 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fertil Ammonia 1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Fertil Ammonia 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fertil Ammonia 2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Fertil Ammonia 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fertil Urea 1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Fertil Urea 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fertil Urea 2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Fertil Urea 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sorfert Ammonia 1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Sorfert Ammonia 1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sorfert Ammonia 2",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Sorfert Ammonia 2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sorfert Urea",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Sorfert Urea",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BoardFERT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLSRawZone",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "Group_Summary",
							"FileName": "GROUP_SUMMARY",
							"MainFolderName": "Production"
						}
					}
				]
			},
			{
				"name": "spc_ExecutionLogEntry_Start",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Started",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": null,
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_Error",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Mesh_Production_GroupSummary",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Error",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Mesh_Production_GroupSummary').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CD_SrcToRaw_Mesh_Production_GroupSummary').Error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "spc_ExecutionLogEntry_End",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "CD_SrcToRaw_Mesh_Production_GroupSummary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "synwsdb01",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[consumption].[spc_ExecutionLogEntry]",
					"storedProcedureParameters": {
						"DataLoadStage": {
							"value": "SourceToRaw",
							"type": "String"
						},
						"DataLoadStatus": {
							"value": "Completed",
							"type": "String"
						},
						"DataRefreshDate": {
							"value": null,
							"type": "DateTime"
						},
						"EndTime": {
							"value": {
								"value": "@convertToUtc(utcNow(),'UTC')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ExecutionID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartTime": {
							"value": null,
							"type": "DateTime"
						},
						"DataCategory": {
							"value": "Production",
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Production/SourceToRaw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T06:06:00Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}